.57_195 { 
	overflow:hidden;
}.e57_195 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2675px;
	position:absolute;
}.e57_196 { 
	width:1440px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
}.ei57_196_1_25 { 
	width:274px;
	height:59px;
	position:absolute;
	left:16px;
	top:17px;
}.ei57_196_1_25_1_8 { 
	width:274px;
	height:59px;
	position:absolute;
	left:0px;
	top:0px;
}.ei57_196_1_25_1_4 { 
	color:rgba(153.00000607967377, 110.82046061754227, 28.942522555589676, 1);
	width:254px;
	height:39px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.ei57_196_1_25_1_5 { 
	background-color:rgba(153.00000607967377, 110.82046061754227, 28.942522555589676, 1);
	width:45px;
	height:34px;
	position:absolute;
	left:0px;
	top:12px;
}.ei57_196_1_26 { 
	width:134px;
	height:47px;
	position:absolute;
	left:342px;
	top:29px;
}.ei57_196_1_26_1_23 { 
	width:45px;
	height:43px;
	position:absolute;
	left:9px;
	top:2px;
}.ei57_196_1_26_1_22 { 
	background-color:rgba(0, 0, 0, 1);
	width:45px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.ei57_196_1_26_1_20 { 
	width:47px;
	height:38.15068435668945px;
	position:absolute;
	left:80px;
	top:4.424657821655273px;
}.ei57_196_1_26_1_19 { 
	background-color:rgba(0, 0, 0, 1);
	width:47px;
	height:38.15068435668945px;
	position:absolute;
	left:0px;
	top:0px;
}.ei57_196_1_27 { 
	width:706px;
	height:58px;
	position:absolute;
	left:608px;
	top:26px;
}.ei57_196_1_27_1_28 { 
	width:122px;
	height:58px;
	position:absolute;
	left:0px;
	top:0px;
}.ei57_196_1_27_1_27 { 
	color:rgba(0, 0, 0, 1);
	width:73px;
	height:24px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei57_196_1_27_1_35 { 
	width:122px;
	height:58px;
	position:absolute;
	left:146px;
	top:0px;
}.ei57_196_1_27_1_36 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:24px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei57_196_1_27_1_29 { 
	width:122px;
	height:58px;
	position:absolute;
	left:292px;
	top:0px;
}.ei57_196_1_27_1_30 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:24px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei57_196_1_27_1_31 { 
	width:122px;
	height:58px;
	position:absolute;
	left:438px;
	top:0px;
}.ei57_196_1_27_1_32 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:24px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei57_196_1_27_1_33 { 
	width:122px;
	height:58px;
	position:absolute;
	left:584px;
	top:0px;
}.ei57_196_1_27_1_34 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:24px;
	position:absolute;
	left:20px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_244 { 
	width:1440px;
	height:620px;
	position:absolute;
	left:0px;
	top:84px;
}.e57_245 { 
	width:1440px;
	height:620px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenshot_2023_03_15_230927_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e57_247 { 
	background-color:rgba(255, 255, 255, 1);
	width:660px;
	height:140px;
	position:absolute;
	left:390px;
	top:316px;
}.e57_250 { 
	color:rgba(0, 0, 0, 1);
	width:640px;
	height:42px;
	position:absolute;
	left:8px;
	top:13px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e57_251 { 
	color:rgba(0, 0, 0, 1);
	width:296px;
	height:45px;
	position:absolute;
	left:187px;
	top:68px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e57_252 { 
	width:60.999996185302734px;
	height:71.49967193603516px;
	position:absolute;
	left:88px;
	top:55px;
}.e57_253 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:28.80535316467285px;
	height:17.11979866027832px;
	position:absolute;
	left:16.945173263549805px;
	top:0px;
}.e57_254 { 
	background-color:rgba(255, 172.00000494718552, 51.00000075995922, 1);
	width:27.475341796875px;
	height:32.658260345458984px;
	position:absolute;
	left:0px;
	top:13.352407455444336px;
}.e57_255 { 
	background-color:rgba(190.0000038743019, 25.000000409781933, 49.00000087916851, 1);
	width:22.08364486694336px;
	height:26.249954223632812px;
	position:absolute;
	left:5.3814544677734375px;
	top:19.74909782409668px;
}.e57_256 { 
	background-color:rgba(255, 172.00000494718552, 51.00000075995922, 1);
	width:27.473323822021484px;
	height:32.658260345458984px;
	position:absolute;
	left:33.52667236328125px;
	top:13.352407455444336px;
}.e57_257 { 
	background-color:rgba(190.0000038743019, 25.000000409781933, 49.00000087916851, 1);
	width:22.082988739013672px;
	height:26.249954223632812px;
	position:absolute;
	left:33.536773681640625px;
	top:19.74909782409668px;
}.e57_258 { 
	background-color:rgba(170.0000050663948, 141.0000067949295, 216.00000232458115, 1);
	width:12.100929260253906px;
	height:26.68165397644043px;
	position:absolute;
	left:31.9532470703125px;
	top:35.247318267822266px;
}.e57_259 { 
	background-color:rgba(119.00000050663948, 178.00000458955765, 85.0000025331974, 1);
	width:11.738336563110352px;
	height:26.498552322387695px;
	position:absolute;
	left:16.94775390625px;
	top:45.00111770629883px;
}.e57_260 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:1.695281982421875px;
	top:51.35939407348633px;
}.e57_261 { 
	background-color:rgba(146.00000649690628, 102.00000151991844, 204.00000303983688, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:8.4730224609375px;
	top:57.401676177978516px;
}.e57_262 { 
	background-color:rgba(146.00000649690628, 102.00000151991844, 204.00000303983688, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:47.44496154785156px;
	top:49.345298767089844px;
}.e57_263 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:40.667236328125px;
	top:59.415767669677734px;
}.e57_264 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:27.111785888671875px;
	top:35.24664306640625px;
}.e57_265 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:8.4730224609375px;
	top:41.28892517089844px;
}.e57_266 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:44.05609130859375px;
	top:29.204360961914062px;
}.e57_267 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:18.639602661132812px;
	top:25.17617416381836px;
}.e57_268 { 
	width:60.999996185302734px;
	height:71.49967193603516px;
	position:absolute;
	left:521px;
	top:57px;
}.e57_269 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:28.80535316467285px;
	height:17.11979866027832px;
	position:absolute;
	left:16.945173263549805px;
	top:0px;
}.e57_270 { 
	background-color:rgba(255, 172.00000494718552, 51.00000075995922, 1);
	width:27.475341796875px;
	height:32.658260345458984px;
	position:absolute;
	left:0px;
	top:13.352407455444336px;
}.e57_271 { 
	background-color:rgba(190.0000038743019, 25.000000409781933, 49.00000087916851, 1);
	width:22.08364486694336px;
	height:26.249954223632812px;
	position:absolute;
	left:5.3814544677734375px;
	top:19.74909782409668px;
}.e57_272 { 
	background-color:rgba(255, 172.00000494718552, 51.00000075995922, 1);
	width:27.473323822021484px;
	height:32.658260345458984px;
	position:absolute;
	left:33.52667236328125px;
	top:13.352407455444336px;
}.e57_273 { 
	background-color:rgba(190.0000038743019, 25.000000409781933, 49.00000087916851, 1);
	width:22.082988739013672px;
	height:26.249954223632812px;
	position:absolute;
	left:33.536773681640625px;
	top:19.74909782409668px;
}.e57_274 { 
	background-color:rgba(170.0000050663948, 141.0000067949295, 216.00000232458115, 1);
	width:12.100929260253906px;
	height:26.68165397644043px;
	position:absolute;
	left:31.9532470703125px;
	top:35.247318267822266px;
}.e57_275 { 
	background-color:rgba(119.00000050663948, 178.00000458955765, 85.0000025331974, 1);
	width:11.738336563110352px;
	height:26.498552322387695px;
	position:absolute;
	left:16.94775390625px;
	top:45.00111770629883px;
}.e57_276 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:1.695281982421875px;
	top:51.35939407348633px;
}.e57_277 { 
	background-color:rgba(146.00000649690628, 102.00000151991844, 204.00000303983688, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:8.4730224609375px;
	top:57.401676177978516px;
}.e57_278 { 
	background-color:rgba(146.00000649690628, 102.00000151991844, 204.00000303983688, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:47.44496154785156px;
	top:49.345298767089844px;
}.e57_279 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:40.667236328125px;
	top:59.415767669677734px;
}.e57_280 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:27.111785888671875px;
	top:35.24664306640625px;
}.e57_281 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:6.7777299880981445px;
	height:8.056375503540039px;
	position:absolute;
	left:8.4730224609375px;
	top:41.28892517089844px;
}.e57_282 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:44.05609130859375px;
	top:29.204360961914062px;
}.e57_283 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:5.0832977294921875px;
	height:6.042281627655029px;
	position:absolute;
	left:18.639602661132812px;
	top:25.17617416381836px;
}.e57_288 { 
	background-color:rgba(149.81249392032623, 117.84999221563339, 55.8051735162735, 1);
	width:1438px;
	height:325px;
	position:absolute;
	left:0px;
	top:704px;
}.e57_289 { 
	width:561px;
	height:64px;
	position:absolute;
	left:55px;
	top:73px;
}.ei57_289_3_84 { 
	color:rgba(0, 0, 0, 1);
	width:541px;
	height:44px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e57_290 { 
	background-color:rgba(255, 255, 255, 1);
	width:151px;
	height:38px;
	position:absolute;
	left:159px;
	top:187px;
}.ei57_290_1_44 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:18px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e57_291 { 
	background-color:rgba(255, 255, 255, 1);
	width:194px;
	height:34px;
	position:absolute;
	left:929px;
	top:186px;
}.ei57_291_1_44 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:18px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e57_292 { 
	background-color:rgba(255, 255, 255, 1);
	width:181px;
	height:34px;
	position:absolute;
	left:1195px;
	top:187px;
}.ei57_292_1_44 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:18px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e57_293 { 
	background-color:rgba(255, 255, 255, 1);
	width:175px;
	height:42px;
	position:absolute;
	left:683px;
	top:184px;
}.ei57_293_1_44 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:18px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e57_294 { 
	background-color:rgba(255, 255, 255, 1);
	width:202px;
	height:39px;
	position:absolute;
	left:405px;
	top:185px;
}.ei57_294_1_44 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:18px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e57_295 { 
	width:12.98194408416748px;
	height:35.889549255371094px;
	position:absolute;
	left:178.75140380859375px;
	top:189.4171905517578px;
}.e57_296 { 
	background-color:rgba(252.00000017881393, 171.00000500679016, 64.00000378489494, 1);
	width:7.5157151222229px;
	height:13.956058502197266px;
	position:absolute;
	left:5.46622896194458px;
	top:21.933488845825195px;
}.e57_297 { 
	background-color:rgba(187.00000405311584, 26.000000350177288, 52.000000700354576, 1);
	width:3.137091636657715px;
	height:4.933819770812988px;
	position:absolute;
	left:4.5811028480529785px;
	top:19.989519119262695px;
}.e57_298 { 
	background-color:rgba(187.00000405311584, 26.000000350177288, 52.000000700354576, 1);
	width:12.299015045166016px;
	height:20.935583114624023px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_299 { 
	background-color:rgba(252.00000017881393, 171.00000500679016, 64.00000378489494, 1);
	width:2.73311448097229px;
	height:1.9938650131225586px;
	position:absolute;
	left:4.782950401306152px;
	top:19.938650131225586px;
}.e57_300 { 
	width:12.98194408416748px;
	height:35.889549255371094px;
	position:absolute;
	left:165.76943969726562px;
	top:188.42025756835938px;
}.e57_301 { 
	background-color:rgba(252.00000017881393, 171.00000500679016, 64.00000378489494, 1);
	width:7.5157151222229px;
	height:13.956058502197266px;
	position:absolute;
	left:5.46622896194458px;
	top:21.933488845825195px;
}.e57_302 { 
	background-color:rgba(187.00000405311584, 26.000000350177288, 52.000000700354576, 1);
	width:3.137091636657715px;
	height:4.933819770812988px;
	position:absolute;
	left:4.58110237121582px;
	top:19.989519119262695px;
}.e57_303 { 
	background-color:rgba(187.00000405311584, 26.000000350177288, 52.000000700354576, 1);
	width:12.299015045166016px;
	height:20.935583114624023px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_304 { 
	background-color:rgba(252.00000017881393, 171.00000500679016, 64.00000378489494, 1);
	width:2.73311448097229px;
	height:1.9938650131225586px;
	position:absolute;
	left:4.7829508781433105px;
	top:19.938650131225586px;
}.e57_305 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:289.59722900390625px;
	top:198.3895721435547px;
}.e57_306 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_307 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:8.1685209274292px;
	height:14.953988075256348px;
	position:absolute;
	left:11.803699493408203px;
	top:-1.224785250997229e-8px;
}.e57_308 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:19.792327880859375px;
	height:1.644803762435913px;
	position:absolute;
	left:-7.952843361636042e-8px;
	top:6.653107643127441px;
}.e57_309 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:585.1860961914062px;
	top:196.3957061767578px;
}.e57_310 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_311 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:8.1685209274292px;
	height:14.953988075256348px;
	position:absolute;
	left:11.803699493408203px;
	top:-4.724535074274172e-8px;
}.e57_312 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:19.792327880859375px;
	height:1.644803762435913px;
	position:absolute;
	left:1.7703143839753466e-7px;
	top:6.653107643127441px;
}.e57_313 { 
	width:16.976388931274414px;
	height:35.88957214355469px;
	position:absolute;
	left:416.42083740234375px;
	top:186.42637634277344px;
}.e57_314 { 
	background-color:rgba(136.00000709295273, 153.00000607967377, 166.00000530481339, 1);
	width:13.98055648803711px;
	height:21.93251609802246px;
	position:absolute;
	left:0px;
	top:13.95705509185791px;
}.e57_315 { 
	background-color:rgba(204.00000303983688, 214.00000244379044, 221.00000202655792, 1);
	width:12.472644805908203px;
	height:5.851993560791016px;
	position:absolute;
	left:0.5673156380653381px;
	top:5.490126609802246px;
}.e57_316 { 
	background-color:rgba(204.00000303983688, 214.00000244379044, 221.00000202655792, 1);
	width:10.619414329528809px;
	height:17.070114135742188px;
	position:absolute;
	left:1.5584603548049927px;
	top:7.9196624755859375px;
}.e57_317 { 
	background-color:rgba(244.0000006556511, 144.00000661611557, 12.000000234693289, 1);
	width:10.75642204284668px;
	height:10.550537109375px;
	position:absolute;
	left:1.471901535987854px;
	top:14.497384071350098px;
}.e57_318 { 
	background-color:rgba(255, 204.00000303983688, 77.00000301003456, 1);
	width:9.97999382019043px;
	height:2.990797519683838px;
	position:absolute;
	left:1.8858412504196167px;
	top:12.960122108459473px;
}.e57_319 { 
	background-color:rgba(193.00000369548798, 105.00000134110451, 79.00000289082527, 1);
	width:4.869143486022949px;
	height:15.651179313659668px;
	position:absolute;
	left:7.422308921813965px;
	top:4.885967254638672px;
}.e57_320 { 
	background-color:rgba(255, 255, 255, 1);
	width:11.350269317626953px;
	height:3.581054925918579px;
	position:absolute;
	left:1.176329493522644px;
	top:8.05815315246582px;
}.e57_321 { 
	background-color:rgba(255, 172.00000494718552, 51.00000075995922, 1);
	width:1.5028693675994873px;
	height:1.539264440536499px;
	position:absolute;
	left:8.365206718444824px;
	top:14.341856956481934px;
}.e57_322 { 
	background-color:rgba(204.00000303983688, 111.00000098347664, 0, 1);
	width:2.1575205326080322px;
	height:4.799567699432373px;
	position:absolute;
	left:7.422308921813965px;
	top:15.73758602142334px;
}.e57_323 { 
	background-color:rgba(119.00000050663948, 178.00000458955765, 85.0000025331974, 1);
	width:10.728394508361816px;
	height:10.814724922180176px;
	position:absolute;
	left:6.247967720031738px;
	top:1.2052760124206543px;
}.e57_324 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.027773857116699px;
	height:8.290491104125977px;
	position:absolute;
	left:11.948615074157715px;
	top:3.728518009185791px;
}.e57_325 { 
	background-color:rgba(62.00000010430813, 114.0000008046627, 29.000000171363354, 1);
	width:1.9819090366363525px;
	height:3.3656442165374756px;
	position:absolute;
	left:12.159364700317383px;
	top:0px;
}.e57_326 { 
	background-color:rgba(229.00000154972076, 161.0000056028366, 87.00000241398811, 1);
	width:1.3184653520584106px;
	height:1.5668693780899048px;
	position:absolute;
	left:296.5875244140625px;
	top:284.1257629394531px;
}.e57_327 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:836.8361206054688px;
	top:196.3957061767578px;
}.e57_328 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:8.1685209274292px;
	height:14.953988075256348px;
	position:absolute;
	left:11.803689956665039px;
	top:-6.552854188157653e-7px;
}.e57_329 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:19.792327880859375px;
	height:1.644803762435913px;
	position:absolute;
	left:-0.00003255208503105678px;
	top:6.653107166290283px;
}.e57_330 { 
	width:26.962501525878906px;
	height:14.953988075256348px;
	position:absolute;
	left:689.0416870117188px;
	top:194.40184020996094px;
}.e57_331 { 
	background-color:rgba(102.00000151991844, 117.00000062584877, 127.00000002980232, 1);
	width:5.991666793823242px;
	height:1.602212905883789px;
	position:absolute;
	left:2.995833158493042px;
	top:0px;
}.e57_332 { 
	background-color:rgba(49.00000087916851, 55.00000052154064, 61.00000016391277, 1);
	width:26.962501525878906px;
	height:13.885846138000488px;
	position:absolute;
	left:0px;
	top:1.0681421756744385px;
}.e57_333 { 
	background-color:rgba(204.00000303983688, 214.00000244379044, 221.00000202655792, 1);
	width:14.979166984558105px;
	height:10.68142032623291px;
	position:absolute;
	left:8.238541603088379px;
	top:2.6703550815582275px;
}.e57_334 { 
	background-color:rgba(49.00000087916851, 55.00000052154064, 61.00000016391277, 1);
	width:11.983333587646484px;
	height:8.545135498046875px;
	position:absolute;
	left:9.736457824707031px;
	top:3.738496780395508px;
}.e57_335 { 
	background-color:rgba(59.00000028312206, 136.00000709295273, 195.0000035762787, 1);
	width:7.489583492279053px;
	height:5.340710163116455px;
	position:absolute;
	left:11.983332633972168px;
	top:5.340710163116455px;
}.e57_336 { 
	background-color:rgba(255, 255, 255, 1);
	width:2.2468748092651367px;
	height:1.602212905883789px;
	position:absolute;
	left:23.217710494995117px;
	top:2.1362838745117188px;
}.e57_337 { 
	background-color:rgba(245.00000059604645, 248.0000004172325, 250.00000029802322, 1);
	width:5.991666793823242px;
	height:1.602212905883789px;
	position:absolute;
	left:2.995833158493042px;
	top:2.1362838745117188px;
}.e57_338 { 
	width:25.96388816833496px;
	height:21.93251609802246px;
	position:absolute;
	left:932.7027587890625px;
	top:192.40797424316406px;
}.e57_339 { 
	background-color:rgba(49.00000087916851, 55.00000052154064, 61.00000016391277, 1);
	width:25.96388816833496px;
	height:21.93251609802246px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_340 { 
	background-color:rgba(102.00000151991844, 117.00000062584877, 127.00000002980232, 1);
	width:7.636437892913818px;
	height:7.562936305999756px;
	position:absolute;
	left:8.400081634521484px;
	top:1.512587308883667px;
}.e57_341 { 
	background-color:rgba(204.00000303983688, 214.00000244379044, 221.00000202655792, 1);
	width:3.0545754432678223px;
	height:3.025174379348755px;
	position:absolute;
	left:10.691012382507324px;
	top:3.781467914581299px;
}.e57_342 { 
	background-color:rgba(102.00000151991844, 117.00000062584877, 127.00000002980232, 1);
	width:6.1091508865356445px;
	height:6.05034875869751px;
	position:absolute;
	left:17.563039779663086px;
	top:4.537761688232422px;
}.e57_343 { 
	background-color:rgba(204.00000303983688, 214.00000244379044, 221.00000202655792, 1);
	width:3.0545754432678223px;
	height:3.025174379348755px;
	position:absolute;
	left:19.09032440185547px;
	top:6.050349235534668px;
}.e57_344 { 
	background-color:rgba(136.00000709295273, 153.00000607967377, 166.00000530481339, 1);
	width:7.636437892913818px;
	height:7.562936305999756px;
	position:absolute;
	left:12.218300819396973px;
	top:12.10069751739502px;
}.e57_345 { 
	background-color:rgba(49.00000087916851, 55.00000052154064, 61.00000016391277, 1);
	width:4.581862926483154px;
	height:4.537761688232422px;
	position:absolute;
	left:13.745587348937988px;
	top:13.613286018371582px;
}.e57_346 { 
	background-color:rgba(136.00000709295273, 153.00000607967377, 166.00000530481339, 1);
	width:3.0545754432678223px;
	height:3.025174379348755px;
	position:absolute;
	left:7.635669708251953px;
	top:16.638460159301758px;
}.e57_347 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:1101.468017578125px;
	top:195.39877319335938px;
}.e57_348 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:8.1685209274292px;
	height:14.953988075256348px;
	position:absolute;
	left:11.803736686706543px;
	top:-1.872243728939793e-7px;
}.e57_349 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:19.792327880859375px;
	height:1.644803762435913px;
	position:absolute;
	left:0.00000813801943877479px;
	top:6.653107643127441px;
}.e57_350 { 
	width:23.966670989990234px;
	height:25.9202823638916px;
	position:absolute;
	left:1201.3291015625px;
	top:190.4141082763672px;
}.e57_351 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:12.750689506530762px;
	height:8.534692764282227px;
	position:absolute;
	left:0px;
	top:10.852733612060547px;
}.e57_352 { 
	background-color:rgba(92.00000211596489, 145.00000655651093, 59.00000028312206, 1);
	width:5.91536808013916px;
	height:9.075454711914062px;
	position:absolute;
	left:2.9607925415039062px;
	top:16.49700355529785px;
}.e57_353 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:7.231237888336182px;
	height:1.0803414583206177px;
	position:absolute;
	left:2.313732624053955px;
	top:24.839216232299805px;
}.e57_354 { 
	background-color:rgba(153.00000607967377, 170.0000050663948, 181.0000044107437, 1);
	width:9.842246055603027px;
	height:7.245467662811279px;
	position:absolute;
	left:0.9941296577453613px;
	top:9.949136734008789px;
}.e57_355 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:9.57870864868164px;
	height:9.156716346740723px;
	position:absolute;
	left:1.2144320011138916px;
	top:0px;
}.e57_356 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:2.4983105659484863px;
	height:3.7588448524475098px;
	position:absolute;
	left:4.697354793548584px;
	top:8.206189155578613px;
}.e57_357 { 
	background-color:rgba(238.00000101327896, 194.00000363588333, 173.00000488758087, 1);
	width:2.499072790145874px;
	height:0.994518518447876px;
	position:absolute;
	left:4.697354793548584px;
	top:9.259543418884277px;
}.e57_358 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:7.503347873687744px;
	height:7.517689228057861px;
	position:absolute;
	left:2.191387414932251px;
	top:2.4314796924591064px;
}.e57_359 { 
	background-color:rgba(193.00000369548798, 105.00000134110451, 79.00000289082527, 1);
	width:3.050440549850464px;
	height:0.7259259223937988px;
	position:absolute;
	left:4.35724401473999px;
	top:8.497286796569824px;
}.e57_360 { 
	background-color:rgba(102.00000151991844, 33.00000183284283, 19.0000007674098, 1);
	width:0.762610137462616px;
	height:0.7259259223937988px;
	position:absolute;
	left:3.5946335792541504px;
	top:5.5935821533203125px;
}.e57_361 { 
	background-color:rgba(102.00000151991844, 33.00000183284283, 19.0000007674098, 1);
	width:0.762610137462616px;
	height:0.7259259223937988px;
	position:absolute;
	left:7.407683372497559px;
	top:5.5935821533203125px;
}.e57_362 { 
	background-color:rgba(193.00000369548798, 105.00000134110451, 79.00000289082527, 1);
	width:1.525220274925232px;
	height:0.7259259223937988px;
	position:absolute;
	left:5.1198530197143555px;
	top:7.045434951782227px;
}.e57_363 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:12.576812744140625px;
	height:8.534692764282227px;
	position:absolute;
	left:11.389859199523926px;
	top:10.852733612060547px;
}.e57_364 { 
	background-color:rgba(66.00000366568565, 137.00000703334808, 193.00000369548798, 1);
	width:5.915367126464844px;
	height:9.075454711914062px;
	position:absolute;
	left:15.090500831604004px;
	top:16.49700355529785px;
}.e57_365 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:7.231237888336182px;
	height:1.0810667276382446px;
	position:absolute;
	left:14.421704292297363px;
	top:24.839216232299805px;
}.e57_366 { 
	background-color:rgba(250.00000029802322, 116.00000068545341, 62.00000010430813, 1);
	width:9.842246055603027px;
	height:7.245467662811279px;
	position:absolute;
	left:13.1303071975708px;
	top:9.949136734008789px;
}.e57_367 { 
	background-color:rgba(41.00000135600567, 47.0000009983778, 51.00000075995922, 1);
	width:9.578710556030273px;
	height:9.156716346740723px;
	position:absolute;
	left:13.2621488571167px;
	top:0px;
}.e57_368 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:2.498309850692749px;
	height:3.7588448524475098px;
	position:absolute;
	left:16.741256713867188px;
	top:8.206189155578613px;
}.e57_369 { 
	background-color:rgba(238.00000101327896, 194.00000363588333, 173.00000488758087, 1);
	width:2.4990735054016113px;
	height:0.994518518447876px;
	position:absolute;
	left:16.742023468017578px;
	top:9.259543418884277px;
}.e57_370 { 
	background-color:rgba(247.00000047683716, 222.00000196695328, 206.0000029206276, 1);
	width:7.503350734710693px;
	height:7.517689228057861px;
	position:absolute;
	left:14.238335609436035px;
	top:2.4314796924591064px;
}.e57_371 { 
	background-color:rgba(193.00000369548798, 105.00000134110451, 79.00000289082527, 1);
	width:3.050440549850464px;
	height:0.7259259223937988px;
	position:absolute;
	left:16.559005737304688px;
	top:8.497286796569824px;
}.e57_372 { 
	background-color:rgba(102.00000151991844, 33.00000183284283, 19.0000007674098, 1);
	width:0.762610137462616px;
	height:0.7259259223937988px;
	position:absolute;
	left:15.796395301818848px;
	top:5.5935821533203125px;
}.e57_373 { 
	background-color:rgba(102.00000151991844, 33.00000183284283, 19.0000007674098, 1);
	width:0.762610137462616px;
	height:0.7259259223937988px;
	position:absolute;
	left:19.609447479248047px;
	top:5.5935821533203125px;
}.e57_374 { 
	background-color:rgba(193.00000369548798, 105.00000134110451, 79.00000289082527, 1);
	width:1.525220274925232px;
	height:0.7259259223937988px;
	position:absolute;
	left:17.32161521911621px;
	top:7.045434951782227px;
}.e57_375 { 
	width:19.97222137451172px;
	height:14.953988075256348px;
	position:absolute;
	left:1348.4979248046875px;
	top:197px;
}.e57_376 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:8.1685209274292px;
	height:14.953988075256348px;
	position:absolute;
	left:11.80367660522461px;
	top:-0.0000011233463510507136px;
}.e57_377 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:19.792327880859375px;
	height:1.644803762435913px;
	position:absolute;
	left:-0.00002441406286379788px;
	top:6.653106689453125px;
}.e57_378 { 
	width:47.734439849853516px;
	height:53px;
	position:absolute;
	left:1340.542236328125px;
	top:118px;
}.e57_379 { 
	background-color:rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
	width:47.734439849853516px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_380 { 
	transform: rotate(180deg);
	width:40.77316665649414px;
	height:44px;
	position:absolute;
	left:1319.658447265625px;
	top:167px;
}.e57_381 { 
	transform: rotate(180deg);
	width:40.77316665649414px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}.57_381 { 
	border:7.889434814453125px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}.e57_382 { 
	transform: rotate(180deg);
	width:7.176078796386719px;
	height:15.532065391540527px;
	position:absolute;
	left:-17.81794548034668px;
	top:-14.233933448791504px;
}.57_382 { 
	border:7.889434814453125px solid rgba(41.00000135600567, 45.00000111758709, 50.000000819563866, 1);
}.e57_286 { 
	background-color:rgba(249.6875050663948, 94.81467828154564, 7.698721289634705, 1);
	width:201px;
	height:44px;
	position:absolute;
	left:628px;
	top:591px;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}.ei57_286_8_397 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:24px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_217 { 
	background-color:rgba(149.81249392032623, 117.84999221563339, 55.8051735162735, 1);
	width:1440px;
	height:538px;
	position:absolute;
	left:0px;
	top:2137px;
}.e57_218 { 
	width:192px;
	height:59px;
	position:absolute;
	left:78px;
	top:93px;
}.ei57_218_1_8 { 
	width:179px;
	height:44px;
	position:absolute;
	left:6.5px;
	top:7.5px;
}.ei57_218_1_4 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:24px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.ei57_218_1_5 { 
	background-color:rgba(100.9375025331974, 28.346623331308365, 28.346623331308365, 1);
	width:31.532846450805664px;
	height:34px;
	position:absolute;
	left:0px;
	top:12px;
}.e57_219 { 
	color:rgba(255, 255, 255, 1);
	width:216px;
	height:49px;
	position:absolute;
	left:78px;
	top:163px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_220 { 
	transform: rotate(89.7177570517691deg);
	width:203.00245666503906px;
	height:0px;
	position:absolute;
	left:404px;
	top:86px;
}.57_220 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e57_221 { 
	color:rgba(255, 255, 255, 1);
	width:300px;
	height:62px;
	position:absolute;
	left:497px;
	top:103px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_222 { 
	transform: rotate(89.7177570517691deg);
	width:203.00245666503906px;
	height:0px;
	position:absolute;
	left:928px;
	top:86px;
}.57_222 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e57_223 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:61px;
	position:absolute;
	left:1013px;
	top:92px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_224 { 
	background-color:rgba(149.81249392032623, 117.84999221563339, 55.8051735162735, 1);
	width:394px;
	height:85px;
	position:absolute;
	left:89px;
	top:376px;
}.e57_225 { 
	width:57.45833206176758px;
	height:47px;
	position:absolute;
	left:14.364583015441895px;
	top:19px;
}.e57_226 { 
	background-color:rgba(0, 0, 0, 1);
	width:28.72916603088379px;
	height:22.456600189208984px;
	position:absolute;
	left:14.364602088928223px;
	top:12.386841773986816px;
}.e57_227 { 
	background-color:rgba(0, 0, 0, 1);
	width:57.45833206176758px;
	height:47px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_228 { 
	width:60.53645706176758px;
	height:43px;
	position:absolute;
	left:99.52603912353516px;
	top:23px;
}.e57_229 { 
	background-color:rgba(0, 0, 0, 1);
	width:60.53645706176758px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_230 { 
	background-color:rgba(0, 0, 0, 1);
	width:31.312795639038086px;
	height:22.241973876953125px;
	position:absolute;
	left:14.614876747131348px;
	top:10.379034996032715px;
}.e57_231 { 
	background-color:rgba(0, 0, 0, 1);
	width:7.5014872550964355px;
	height:5.328424453735352px;
	position:absolute;
	left:42.2042236328125px;
	top:7.798803806304932px;
}.e57_232 { 
	width:68.74478912353516px;
	height:40px;
	position:absolute;
	left:187.765625px;
	top:26px;
}.e57_233 { 
	background-color:rgba(0, 0, 0, 1);
	width:68.74478912353516px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_234 { 
	background-color:rgba(0, 0, 0, 1);
	width:34.37239456176758px;
	height:16.000032424926758px;
	position:absolute;
	left:17.18619728088379px;
	top:11.999978065490723px;
}.e57_235 { 
	width:73.875px;
	height:40px;
	position:absolute;
	left:279.0833435058594px;
	top:26px;
}.e57_236 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.235036849975586px;
	height:20px;
	position:absolute;
	left:28.39387321472168px;
	top:10px;
}.e57_237 { 
	background-color:rgba(0, 0, 0, 1);
	width:73.875px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
}.e57_238 { 
	width:615px;
	height:78px;
	position:absolute;
	left:692px;
	top:382px;
}.ei57_238_1_55 { 
	color:rgba(0, 0, 0, 1);
	width:575px;
	height:58px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e57_389 { 
	color:rgba(0, 0, 0, 1);
	width:432px;
	height:87px;
	position:absolute;
	left:65px;
	top:1086px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}.e57_390 { 
	background-color:rgba(233.7500050663948, 154.63973969221115, 1.3635644316673279, 0.7200000286102295);
	width:415px;
	height:369px;
	position:absolute;
	left:56px;
	top:1195px;
}.e57_391 { 
	width:415px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenshot_2023_03_08_221043_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e57_392 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:24px;
	position:absolute;
	left:8px;
	top:261px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e57_393 { 
	width:148px;
	height:44px;
	position:absolute;
	left:8px;
	top:305px;
}.ei57_393_1_55 { 
	color:rgba(96.68749898672104, 4.592661559581757, 4.592661559581757, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_395 { 
	background-color:rgba(233.7500050663948, 175.93192756175995, 63.69689404964447, 1);
	width:415px;
	height:369px;
	position:absolute;
	left:513px;
	top:1195px;
}.e57_396 { 
	width:415px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenshot_2023_03_08_221043_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e57_397 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:24px;
	position:absolute;
	left:8px;
	top:261px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e57_398 { 
	width:148px;
	height:44px;
	position:absolute;
	left:8px;
	top:305px;
}.ei57_398_1_55 { 
	color:rgba(96.68749898672104, 4.592661559581757, 4.592661559581757, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e57_400 { 
	background-color:rgba(233.7500050663948, 175.93192756175995, 63.69689404964447, 1);
	width:415px;
	height:369px;
	position:absolute;
	left:56px;
	top:1643px;
}.e57_401 { 
	width:415px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/screenshot_2023_03_08_221043_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e57_402 { 
	color:rgba(0, 0, 0, 1);
	width:392px;
	height:24px;
	position:absolute;
	left:8px;
	top:268px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e57_403 { 
	width:148px;
	height:44px;
	position:absolute;
	left:8px;
	top:305px;
}.ei57_403_1_55 { 
	color:rgba(96.68749898672104, 4.592661559581757, 4.592661559581757, 1);
	width:108px;
	height:24px;
	position:absolute;
	left:20px;
	top:10px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}